<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoplaboom</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="top-menu">
      <h1 class="top-menu__title">Hoplaboom</h1>
      <nav class="top-menu__nav">
        <a class="top-menu__link" href="#">Product Tour</a>
        <a class="top-menu__link" href="#">Pricing</a>
        <a class="top-menu__link top-menu__link--important" href="#">Sign up</a>
      </nav>
    </header>

    <main class="container">
      <%= get_flash(@conn, :error) %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>&copy; 2017 Hoplaboom</footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
