main {
  padding: 2rem;
  flex: 1;
}

footer {
  text-align: center;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eee;
}

.row, section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column, article, aside {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  // Gutters
  .column + .column {
    margin-left: 1rem
  }

  .column--one-fourth {
    flex: 0.25;
  }

  .column--half {
    flex: 0.5;
  }
}