.form {
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
  border-radius: 3px;
}

.form--stacked form {

}

.form__field {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.form label {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.form--stacked input[type="text"],
.form--stacked input[type="password"],
.form--stacked input[type="email"],
.form--stacked input[type="url"],
.form--stacked input[type="date"],
.form--stacked input[type="month"],
.form--stacked input[type="time"],
.form--stacked input[type="datetime"],
.form--stacked input[type="datetime-local"],
.form--stacked input[type="week"],
.form--stacked input[type="number"],
.form--stacked input[type="search"],
.form--stacked input[type="tel"],
.form--stacked input[type="color"],
.form--stacked input[type="file"],
.form--stacked select,
.form--stacked label,
.form--stacked textarea {
    margin: 0.25em 0;
}


.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
    padding: 0.5em 0.6em;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 3px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
    outline: 0;
    border-color: rgb(89, 190, 235);
}

.button {
  padding: 0.75em 1em;
  display: inline-block;
  color: white;
  border-style: none;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.button--primary {
  background-color: #4a90e2;
  border-bottom: 2px solid #277adc;
}

.form__field-error {
  padding: 3px;
  background: rgb(255, 253, 228);
  color: rgb(250, 64, 57);
}