.form {
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
  border-radius: 3px;
}

.form--stacked form {
  display: flex;
  flex-direction: column;
}

// plutot des .form__field

.form label {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.form--stacked input[type="text"],
.form--stacked input[type="password"],
.form--stacked input[type="email"],
.form--stacked input[type="url"],
.form--stacked input[type="date"],
.form--stacked input[type="month"],
.form--stacked input[type="time"],
.form--stacked input[type="datetime"],
.form--stacked input[type="datetime-local"],
.form--stacked input[type="week"],
.form--stacked input[type="number"],
.form--stacked input[type="search"],
.form--stacked input[type="tel"],
.form--stacked input[type="color"],
.form--stacked input[type="file"],
.form--stacked select,
.form--stacked label,
.form--stacked textarea {
    margin: 0.25em 0;
}


.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 3px;
    vertical-align: middle;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
    outline: 0;
    border-color: rgb(89, 190, 235);
}

.form button {
  background: rgb(92, 193, 237);
  font-size: 1.2rem;
  border: none;
  padding: 5px 10px 5px 10px;
}