.top-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px 2.5%;
}

.top-menu__title {
  // margin: auto 10px auto 40px;
}

.top-menu__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.top-menu__link {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;


  &:first-child {
    margin-left: 0;
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
    margin-right: 0;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

.top-menu__link--important {
  border: 1px solid #f95265;
  border-radius: 3px;
}
